<div class="form-group">
  <a class="btn btn-primary btn-block" href="/meals/new" role="button">食事投稿画面へ</a>
</div>

<% @meals.each do |meal| %>
  <div class="card">
    <% if meal.image? %>
      <div class="card-header text-center">
        <img class="card-img-top d-block">
        <%= image_tag meal.image_url.to_s %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= simple_format(meal.content) %></p>
      </div>
      <div class="card-footer">
        【投稿日】<%= l meal.created_at, format: :long %>
        <div class ="float-right">
          <%= link_to "編集", edit_meal_path(meal), method: :get %>
          <%= link_to "削除", meal, method: :delete, data: { confirm: "削除しますか?" } %>
        </div>
      </div>
    <% else %>
      <div class="card-body">
        <p class="card-text"><%= simple_format(meal.content) %></p>
      </div>
      <div class="card-footer">
        【投稿日】<%= l meal.created_at, format: :long %>
        <div class ="float-right">
          <%= link_to "編集", edit_meal_path(meal), method: :get %>
          <%= link_to "削除", meal, method: :delete, data: { confirm: "削除しますか?" } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
